In [1]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline
import re

In [2]:
history

import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline
import re
history

In [3]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(name='span',attrs={'itemprop':'ratingValue'})
    want5=want4[0].text
    want6=want3.find_all(name='span',attrs={'class':'subText'})
    want7=want6[2].text.strip()
    want8=re.split(r"\n",want7)
    return want8,want5

the order is also according to the original table the porblem I have here is that I cannot delete /n

In [4]:
link=["http://www.imdb.com/title/tt1293847/",
      "http://www.imdb.com/title/tt1981128/",
      "http://www.imdb.com/title/tt4630562/",
      "http://www.imdb.com/title/tt2345759/",
      "http://www.imdb.com/title/tt3371366/?ref_=fn_al_tt_1",
      "http://www.imdb.com/title/tt3731562/?ref_=fn_al_tt_1",
      "http://www.imdb.com/title/tt1753383/?ref_=fn_al_tt_1"]
Popularity=[]
Rate=[]
for l in link:
    x=myfun(l)
    p=x[0][0]
    r=x[1]
    Popularity.append(p)
    Rate.append(r)

In [5]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Kong: Skull Island",
      "A Dog’s Purpose"]
dict={'Name':Name,
      'IMDbPopularity':Popularity,
      'IMDbRate':Rate}
Rating=pd.DataFrame(dict)
Rating=Rating[["Name",'IMDbPopularity','IMDbRate']]
Rating

                            Name IMDbPopularity IMDbRate
0     xXx: Return of Xander Cage            174      5.2
1                       Geostorm             97      5.4
2        The Fate of the Furious            148      6.7
3                      The Mummy             61      5.5
4  Transformers: The Last Knight            177      5.2
5             Kong: Skull Island            192      6.7
6                A Dog’s Purpose            914      6.9

In [6]:
# add douban rating
Rating['DoubanRate']=[5.6,6,7,4.7,4.8,7.8,7.7]
Rating['ChineseBoxOfficeRank']=[13,38,2,25,7,9,26]
Rating['AmericanBoxOfficeRank']=[60,75,12,39,25,19,44]
Rating['WorldwideBoxOfficeRank']=[28,43,3,22,16,21,46]
Rating

,Name,IMDbPopularity,IMDbRate,DoubanRate,ChineseBoxOfficeRank,AmericanBoxOfficeRank,WorldwideBoxOfficeRank
0,xXx: Return of Xander Cage,174,5.2,5.6,13,60,28
1,Geostorm,97,5.4,6.0,38,75,43
2,The Fate of the Furious,148,6.7,7.0,2,12,3
3,The Mummy,61,5.5,4.7,25,39,22
4,Transformers: The Last Knight,177,5.2,4.8,7,25,16
5,Kong: Skull Island,192,6.7,7.8,9,19,21
6,A Dog’s Purpose,914,6.9,7.7,26,44,46

In [9]:
Rating.to_csv("Rating.csv",index=False,sep=',')