# Web data getting for rating from IMDB and Douban for those 7 moives

In [4]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
import re

In [5]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    '''this function here using the find_all tag methods for data obtaining'''
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(name='span',attrs={'itemprop':'ratingValue'})
    want5=want4[0].text
    want6=want3.find_all(name='span',attrs={'class':'subText'})
    want7=want6[2].text.strip()
    want8=re.split(r"\n",want7)
    return want8,want5

In [6]:
link=["http://www.imdb.com/title/tt1293847/",
      "http://www.imdb.com/title/tt1981128/",
      "http://www.imdb.com/title/tt4630562/",
      "http://www.imdb.com/title/tt2345759/",
      "http://www.imdb.com/title/tt3371366/?ref_=fn_al_tt_1",
      "http://www.imdb.com/title/tt3731562/?ref_=fn_al_tt_1",
      "http://www.imdb.com/title/tt1753383/?ref_=fn_al_tt_1"]
Popularity=[]
Rate=[]
for l in link:
    x=myfun(l)
    p=x[0][0]
    r=x[1]
    Popularity.append(p)
    Rate.append(r)

In [7]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Kong: Skull Island",
      "A Dog’s Purpose"]
dict={'Name':Name,
      'IMDbPopularity':Popularity,
      'IMDbRate':Rate}
Rating=pd.DataFrame(dict)
Rating=Rating[["Name",'IMDbPopularity','IMDbRate']]
Rating

                            Name IMDbPopularity IMDbRate
0     xXx: Return of Xander Cage            584      5.2
1                       Geostorm            149      5.4
2        The Fate of the Furious            203      6.7
3                      The Mummy            169      5.5
4  Transformers: The Last Knight            225      5.2
5             Kong: Skull Island            246      6.7
6                A Dog’s Purpose          1,047      6.9

In [8]:
'''adding douban rates'''
Rating['DoubanRate']=[5.6,6,7,4.7,4.8,7.8,7.7]
Rating['ChineseBoxOfficeRank']=[13,38,2,25,7,9,26]
Rating['AmericanBoxOfficeRank']=[60,75,12,39,25,19,44]
Rating['WorldwideBoxOfficeRank']=[28,43,3,22,16,21,46]
Rating

,Name,IMDbPopularity,IMDbRate,DoubanRate,ChineseBoxOfficeRank,AmericanBoxOfficeRank,WorldwideBoxOfficeRank
0,xXx: Return of Xander Cage,584,5.2,5.6,13,60,28
1,Geostorm,149,5.4,6.0,38,75,43
2,The Fate of the Furious,203,6.7,7.0,2,12,3
3,The Mummy,169,5.5,4.7,25,39,22
4,Transformers: The Last Knight,225,5.2,4.8,7,25,16
5,Kong: Skull Island,246,6.7,7.8,9,19,21
6,A Dog’s Purpose,"1,047",6.9,7.7,26,44,46

In [10]:
Rating.to_csv("Rating.csv",index=False,sep=',')