# Web data getting for actor and director for those 7 moives

## Part 1 : for box office data for actor and director

In [1]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import re
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline

By using the methods of beautiful soup to arrive at the desired location of the wanted data on the webpage.

In [2]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(href=re.compile("box-office-star-record"))
    result1=set([want4[i].text for x in want4 for i in range(0,len(want4))])
    want5=want3.find_all(align=re.compile("right"))
    result2=[want5[i].text for x in want4 for i in range(0,len(want5))][0:len(result1)]
    '''here, result1 and 2 is actually not useful anymore since we can get the whole table in the below functions to obtain the all-aspects data from the websites'''
    want6=want3.find_all(name="td",attrs={'class':'alnright'})
    result3=[want6[i].text for x in want6 for i in range(1,4)][0:3]
    return result3

In [125]:
def myfun2(url):
    '''this function is used for getting the data for specific study for director'''
    #url = "https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary"
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    tables = soup.select('table')
    
    m=pd.read_html(tables[2].prettify())[0][1:]
    return m

box office data for director

In [41]:
link=["https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary",
      "https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary",
      "https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary",
      "https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary",
      "https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
      "https://www.the-numbers.com/person/465430401-Jordan-Vogt-Roberts#tab=summary",
      "https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]
Domestic=[]
International=[]
Worldwide=[]
for l in link:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [42]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Kong: Skull Island",
      "A Dog’s Purpose"]
dict={'Name':Name,
      'Domestic(director)':Domestic,
      'International(director)':International,
      'Worldwide(director)':Worldwide}
director=pd.DataFrame(dict)
director=director[['Name', 'Domestic(director)', 'International(director)','Worldwide(director)']]
director

,Name,Domestic(director),International(director),Worldwide(director)
0,xXx: Return of Xander Cage,"$341,032,453","$545,426,963","$886,459,416"
1,Geostorm,"$809,318,256","$1,480,685,100","$2,290,003,356"
2,The Fate of the Furious,"$757,018,128","$1,241,886,899","$1,998,905,027"
3,The Mummy,"$1,738,416,625","$2,258,987,757","$3,997,404,382"
4,Transformers: The Last Knight,"$1,255,682,482","$1,587,645,612","$2,843,328,094"
5,Kong: Skull Island,"$169,368,312","$393,132,024","$562,500,336"
6,A Dog’s Purpose,"$529,512,669","$523,863,020","$1,053,375,689"

In [43]:
'''output to csv file'''
director.to_csv('director.csv',index=False)

box office data for actor

In [7]:
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary")
myfun("https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary")
myfun("https://www.the-numbers.com/person/22060401-Gerard-Butler")
myfun("https://www.the-numbers.com/person/1159650401-Talitha-Bateman")
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel")
myfun("https://www.the-numbers.com/person/72720401-Dwayne-Johnson")
myfun("https://www.the-numbers.com/person/540401-Tom-Cruise")
myfun("https://www.the-numbers.com/person/487260401-Annabelle-Wallis")
myfun("https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary")
myfun("https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary")
myfun("https://www.the-numbers.com/person/82280401-Brie-Larson#tab=summary")
myfun("https://www.the-numbers.com/person/670401-Samuel-L-Jackson#tab=summary")
myfun("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
myfun("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

['$529,512,669', '$523,863,020', '$1,053,375,689']

In [8]:
Actor=["https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary",
"https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary",
"https://www.the-numbers.com/person/22060401-Gerard-Butler",
"https://www.the-numbers.com/person/1159650401-Talitha-Bateman",
"https://www.the-numbers.com/person/39880401-Vin-Diesel",
"https://www.the-numbers.com/person/72720401-Dwayne-Johnson",
"https://www.the-numbers.com/person/540401-Tom-Cruise",
"https://www.the-numbers.com/person/487260401-Annabelle-Wallis",
"https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary",
"https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary",
"https://www.the-numbers.com/person/82280401-Brie-Larson#tab=summary",
"https://www.the-numbers.com/person/670401-Samuel-L-Jackson#tab=summary",
"https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
"https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]

In [9]:
Domestic=[]
International=[]
Worldwide=[]
for l in Actor:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [10]:
Name=["xXx: Return of Xander Cage",
      "xXx: Return of Xander Cage",
      "Geostorm",
      "Geostorm",
      "The Fate of the Furious",
      "The Fate of the Furious",
      "The Mummy",
      "The Mummy",
      "Transformers: The Last Knight",
      "Transformers: The Last Knight",
      "Kong: Skull Island",
      "Kong: Skull Island",
      "A Dog’s Purpose",
      "A Dog’s Purpose"]

In [11]:
dict={'Name':Name,
      'Domestic(actor)':Domestic,
      'International(actor)':International,
      'Worldwide(actor)':Worldwide}
Actor=pd.DataFrame(dict)
Actor=Actor[['Name', 'Domestic(actor)', 'International(actor)','Worldwide(actor)']]
Actor

,Name,Domestic(actor),International(actor),Worldwide(actor)
0,xXx: Return of Xander Cage,"$1,323,338,433","$3,830,289,378","$5,153,627,811"
1,xXx: Return of Xander Cage,$0,"$25,040,000","$25,040,000"
2,Geostorm,"$292,683,312","$283,633,664","$576,316,976"
3,Geostorm,$0,$0,"$33,700,160"
4,The Fate of the Furious,"$1,323,338,433","$3,830,289,378","$5,153,627,811"
5,The Fate of the Furious,"$100,990,648","$133,450,656","$234,441,304"
6,The Mummy,"$1,284,826,648","$2,552,489,126","$3,837,315,774"
7,The Mummy,$0,$0,"$80,101,125"
8,Transformers: The Last Knight,"$492,869,237","$234,728,472","$727,597,709"
9,Transformers: The Last Knight,$0,$0,$0
10,Kong: Skull Island,$0,$0,$0
11,Kong: Skull Island,"$689,602","$218,124","$907,726"
12,A Dog’s Purpose,"$1,255,682,482","$1,587,645,612","$2,843,328,094"
13,A Dog’s Purpose,"$529,512,669","$523,863,020","$1,053,375,689"

In [12]:
'''output to csv file'''
Actor.to_csv('Actor.csv',index=False)

## Part 2  :detailed data for director and actor

for overall analyzing about director

In [97]:
DJ_data=myfun2('https://www.the-numbers.com/person/25200401-D-J-CarusoD-J-Caruso#tab=summary')

In [98]:
DD_data=myfun2("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")

In [99]:
FG_data=myfun2("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")

In [100]:
AK_data=myfun2("https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary")

In [101]:
MB_data=myfun2("https://www.the-numbers.com/person/465430401-Jordan-Vogt-Roberts#tab=summary")

In [102]:
LH_data=myfun2("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

In [103]:
DD_data.columns=["record","rank","value"]
DJ_data.columns=["record","rank","value"]
FG_data.columns=["record","rank","value"]
AK_data.columns=["record","rank","value"]
MB_data.columns=["record","rank","value"]
LH_data.columns=["record","rank","value"]

In [ ]:
def mydtfun(ndt):
    ndt=ndt.iloc[:,0:2]
    ndt=pd.DataFrame.transpose(ndt)
    ndt= ndt.reset_index()
    ndt=ndt.drop('index',1)
    ndt.columns=ndt.iloc[0,:]
    ndt=ndt.iloc[1:]
    return ndt

In [96]:
DD_data=myfun2("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")
DD_data=DD_data.iloc[:,0:2]
DD_data=pd.DataFrame.transpose(DD_data)
DD_data= DD_data.reset_index()
DD_data=DD_data.drop('index',1)
DD_data.columns=DD_data.iloc[0,:]
DD_data=DD_data.iloc[1:]
DD_data

,"Top Grossing Director at the Domestic Box Office (Rank 901-1,000)",Top Grossing Producer at the Domestic Box Office (Rank 101-200),Top Grossing Screenwriter at the Domestic Box Office,Top Grossing Story Creator at the Domestic Box Office (Rank 101-200),Top Grossing Director at the International Box Office (Rank 401-500),"Top Grossing Executive Producer at the International Box Office (Rank 5,901-6,000)",Top Grossing Producer at the International Box Office,Top Grossing Screenwriter at the International Box Office,Top Grossing Story Creator at the International Box Office,Top Grossing Director at the Worldwide Box Office (Rank 501-600),"Top Grossing Executive Producer at the Worldwide Box Office (Rank 8,101-8,200)",Top Grossing Producer at the Worldwide Box Office,Top Grossing Screenwriter at the Worldwide Box Office,Top Grossing Story Creator at the Worldwide Box Office (Rank 101-200)
1,975,120,96,164,401,5941,78,46,84,558,8169,93,55,110

In [112]:
LH_data

                                              record  rank           value
1  Top Grossing Director at the Domestic Box Offi...   133    $529,512,669
2  Top Grossing Executive Producer at the Domesti...  2941      $9,170,214
3  Top Grossing Director at the International Box...   166    $523,863,020
4  Top Grossing Director at the Worldwide Box Off...   144  $1,053,375,689
5  Top Grossing Executive Producer at the Worldwi...  3457      $9,170,214

In [119]:
LH_data[0:5]

                                              record  rank           value
1  Top Grossing Director at the Domestic Box Offi...   133    $529,512,669
2  Top Grossing Executive Producer at the Domesti...  2941      $9,170,214
3  Top Grossing Director at the International Box...   166    $523,863,020
4  Top Grossing Director at the Worldwide Box Off...   144  $1,053,375,689
5  Top Grossing Executive Producer at the Worldwi...  3457      $9,170,214

In [115]:
directordata=pd.concat([DD_data[0:5],DJ_data[0:5],FG_data[0:5],AK_data[0:5],MB_data[0:5],LH_data[0:5]])
directordata = directordata.reset_index()
directordata=directordata.drop('index',1)
directordata

                                               record   rank           value
0   Top Grossing Director at the Domestic Box Offi...    975     $33,700,160
1   Top Grossing Producer at the Domestic Box Offi...    120    $809,318,256
2   Top Grossing Screenwriter at the Domestic Box ...     96    $650,893,664
3   Top Grossing Story Creator at the Domestic Box...    164    $239,458,580
4   Top Grossing Director at the International Box...    401    $187,100,000
5   Top Grossing Associate Producer at the Domesti...    886     $30,038,362
6   Top Grossing Director at the Domestic Box Offi...    228    $341,032,453
7   Top Grossing Executive Producer at the Domesti...   3009      $8,087,783
8   Top Grossing Producer at the Domestic Box Offi...   1774     $28,607,015
9   Top Grossing Screenwriter at the Domestic Box ...   2550      $2,423,467
10  Top Stars at the Domestic Box Office (Rank 8,2...   8258    $188,665,349
11  Top Stars at the International Box Office (Ran...  27488     $41,454,410
12  Top Stars at the Worldwide Box Office (Rank 14...  14694    $230,119,759
13   Top Grossing Director at the Domestic Box Office     66    $757,018,128
14  Top Grossing Executive Producer at the Domesti...   2290     $26,500,000
15  Top Grossing Director at the Domestic Box Offi...    606     $92,532,917
16  Top Grossing Executive Producer at the Domesti...    278    $379,243,756
17  Top Grossing Producer at the Domestic Box Offi...    134    $755,225,809
18  Top Grossing Screenwriter at the Domestic Box ...     17  $1,738,416,625
19  Top Grossing Story Creator at the Domestic Box...     51    $444,922,654
20  Top Grossing Director at the Domestic Box Offi...    431    $169,368,312
21  Top Grossing Executive Producer at the Domesti...   3904      $1,315,500
22  Top Grossing Director at the International Box...    219    $393,132,024
23  Top Grossing Executive Producer at the Interna...   5234         $47,109
24  Top Grossing Director at the Worldwide Box Off...    273    $562,500,336
25  Top Grossing Director at the Domestic Box Offi...    133    $529,512,669
26  Top Grossing Executive Producer at the Domesti...   2941      $9,170,214
27  Top Grossing Director at the International Box...    166    $523,863,020
28  Top Grossing Director at the Worldwide Box Off...    144  $1,053,375,689
29  Top Grossing Executive Producer at the Worldwi...   3457      $9,170,214

In [120]:
m1=["D-J-Caruso"]*5
m2=["Dean-Devlin"]*5
m3=["F-Gary"]*5
m4=["Alex-Kurtzman"]*5
m5=["Jordan-Vogt-Roberts"]*5
m6=["Lasse-HallstrA-m"]*5

In [121]:
directordata["name"]=m1+m2+m3+m4+m5+m6

In [122]:
directordata.head()

,record,rank,value,name
0,Top Grossing Director at the Domestic Box Offi...,975,"$33,700,160",D-J-Caruso
1,Top Grossing Producer at the Domestic Box Offi...,120,"$809,318,256",D-J-Caruso
2,Top Grossing Screenwriter at the Domestic Box ...,96,"$650,893,664",D-J-Caruso
3,Top Grossing Story Creator at the Domestic Box...,164,"$239,458,580",D-J-Caruso
4,Top Grossing Director at the International Box...,401,"$187,100,000",D-J-Caruso

In [124]:
'''output to csv file'''
directordata.to_csv('directordata.csv',index=False)

for overall analyzing about actor

In [36]:
def myfun2(url):
    '''this function is used for getting the data for specific study for actor'''
    #url = "https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary"
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    tables = soup.select('table')
    
    m=pd.read_html(tables[2].prettify())[0][1:]
    return m

In [126]:
a1=myfun2("https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary")
a2=myfun2("https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary")
a3=myfun2("https://www.the-numbers.com/person/22060401-Gerard-Butler")
a4=myfun2("https://www.the-numbers.com/person/1159650401-Talitha-Bateman")
a5=myfun2("https://www.the-numbers.com/person/39880401-Vin-Diesel")
a6=myfun2("https://www.the-numbers.com/person/72720401-Dwayne-Johnson")
a7=myfun2("https://www.the-numbers.com/person/540401-Tom-Cruise")
a8=myfun2("https://www.the-numbers.com/person/487260401-Annabelle-Wallis")
a9=myfun2("https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary")
a10=myfun2("https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary")
a11=myfun2("https://www.the-numbers.com/person/82280401-Brie-Larson#tab=summary")
a12=myfun2("https://www.the-numbers.com/person/670401-Samuel-L-Jackson#tab=summary")
a13=myfun2("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
a14=myfun2("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

In [127]:
a1.columns=["item","rank","value"]
a2.columns=["item","rank","value"]
a3.columns=["item","rank","value"]
a4.columns=["item","rank","value"]
a5.columns=["item","rank","value"]
a6.columns=["item","rank","value"]
a7.columns=["item","rank","value"]
a8.columns=["item","rank","value"]
a9.columns=["item","rank","value"]
a10.columns=["item","rank","value"]
a11.columns=["item","rank","value"]
a12.columns=["item","rank","value"]
a13.columns=["item","rank","value"]
a14.columns=["item","rank","value"]

In [128]:
actordata=pd.concat([a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14])
actordata = actordata.reset_index()
actordata=actordata.drop('index',1)
actordata

                                                  item  rank           value
0    Top 100 Stars in Leading Roles at the Domestic...    19  $2,524,504,459
1    Top Above the Line Stars at the Domestic Box O...    25  $2,782,660,959
2                 Top Stars at the Domestic Box Office    81  $2,950,535,944
3    Top 100 Stars in Leading Roles at the Internat...     8  $5,087,263,843
4    Top Live Action Stars at the International Box...    46  $4,528,983,642
5    Top Above the Line Stars at the International ...    13  $5,427,583,594
6            Top Stars at the International Box Office    37  $5,535,426,203
7    Top 100 Stars in Leading Roles at the Worldwid...    10  $7,611,768,302
8    Top Live Action Stars at the Worldwide Box Office    68  $6,642,282,359
9    Top Above the Line Stars at the Wordwide Box O...    16  $8,210,244,553
10               Top Stars at the Worldwide Box Office    45  $8,485,962,147
11   Highest Grossing Stars of 2013 at the Domestic...    31             213
12   Highest Grossing Stars of 2014 at the Domestic...    88             118
13   Highest Grossing Stars of 2015 at the Domestic...    15             227
14   Highest Grossing Stars of 2017 at the Domestic...    22             236
15   Highest Grossing Stars of 2018 at the Domestic...    71             127
16   Highest Grossing Stars of 2013 at the Internat...    28             210
17   Highest Grossing Stars of 2014 at the Internat...    67             116
18   Highest Grossing Stars of 2015 at the Internat...     7             262
19   Highest Grossing Stars of 2016 at the Internat...    49             146
20   Highest Grossing Stars of 2017 at the Internat...     3             322
21   Highest Grossing Stars of 2018 at the Internat...    21             176
22   Highest Grossing Stars of 2013 at the Worldwid...    28             213
23   Highest Grossing Stars of 2014 at the Worldwid...    73             119
24   Highest Grossing Stars of 2015 at the Worldwid...     8             259
25   Highest Grossing Stars of 2016 at the Worldwid...    56             140
26   Highest Grossing Stars of 2017 at the Worldwid...     4             312
27   Highest Grossing Stars of 2018 at the Worldwid...    28             172
28   Top Grossing Executive Producer at the Domesti...   812    $141,930,000
29    Top Grossing Producer at the Domestic Box Office    57  $1,323,338,433
..                                                 ...   ...             ...
276  Highest Grossing Stars of 2016 at the Internat...     2             383
277  Highest Grossing Stars of 2017 at the Internat...     1             420
278  Highest Grossing Stars of 2018 at the Internat...    11             202
279  Highest Grossing Stars of 2014 at the Worldwid...    25             194
280  Highest Grossing Stars of 2015 at the Worldwid...     3             321
281  Highest Grossing Stars of 2016 at the Worldwid...     2             390
282  Highest Grossing Stars of 2017 at the Worldwid...     1             429
283  Highest Grossing Stars of 2018 at the Worldwid...    12             202
284  Top Grossing Executive Producer at the Domesti...  4194        $689,602
285  Top Grossing Producer at the Domestic Box Offi...  2129     $14,843,425
286  Top Grossing Executive Producer at the Interna...  4682        $218,124
287  Top Grossing Executive Producer at the Worldwi...  4850        $907,726
288  Top Grossing Producer at the Worldwide Box Off...  2706     $14,843,425
289  Top Stars at the Domestic Box Office (Rank 3,0...  3010    $430,667,332
290  Top Stars at the International Box Office (Ran...  3160    $544,583,135
291  Top Stars at the Worldwide Box Office (Rank 3,...  3061    $975,250,467
292   Top Grossing Director at the Domestic Box Office     2  $2,326,279,619
293  Top Grossing Executive Producer at the Domesti...    50  $1,319,187,682
294   Top Grossing Producer at the Domestic Box Office    63  $1,255,682,482
295  Top Grossing Director at the International Box...     4  $4,118,445,309
296  Top Grossing Executive Producer at the Interna...    32  $2,453,434,228
297  Top Grossing Producer at the International Box...    68  $1,587,645,612
298  Top Grossing Director at the Worldwide Box Office     3  $6,444,724,928
299  Top Grossing Executive Producer at the Worldwi...    35  $3,772,621,910
300  Top Grossing Producer at the Worldwide Box Office    69  $2,843,328,094
301  Top Grossing Director at the Domestic Box Offi...   133    $529,512,669
302  Top Grossing Executive Producer at the Domesti...  2941      $9,170,214
303  Top Grossing Director at the International Box...   166    $523,863,020
304  Top Grossing Director at the Worldwide Box Off...   144  $1,053,375,689
305  Top Grossing Executive Producer at the Worldwi...  3457      $9,170,214

[306 rows x 3 columns]

In [129]:
print(len(a1))
print(len(a2))
print(len(a3))
print(len(a4))
print(len(a5))
print(len(a6))
print(len(a7))
print(len(a8))
print(len(a9))
print(len(a10))
print(len(a11))
print(len(a12))
print(len(a13))
print(len(a14))

34
20
18
10
34
39
39
6
35
7
6
41
12
5

In [130]:
m1=["Vin-Diesel"]*34
m2=["Donnie-Yen"]*20
m3=["Gerard-Butler"]*18
m4=["Talitha-Bateman"]*10
m5=["Vin-Diesel"]*34
m6=["Dwayne-Johnson"]*39
m7=["Tom-Cruise"]*39
m8=["Annabelle-Wallis"]*6
m9=["Mark-Wahlberg"]*35
m10=["Shia-LaBeouf"]*7
m11=["Brie-Larson"]*6
m12=["Samuel-L-Jackson"]*41
m13=["Michael-Bay"]*12
m14=["Lasse-HallstrA-m"]*5
actordata["name"]=m1+m2+m3+m4+m5+m6+m7+m8+m9+m10+m11+m12+m13+m14

In [131]:
actordata.head()

,item,rank,value,name
0,Top 100 Stars in Leading Roles at the Domestic...,19,"$2,524,504,459",Vin-Diesel
1,Top Above the Line Stars at the Domestic Box O...,25,"$2,782,660,959",Vin-Diesel
2,Top Stars at the Domestic Box Office,81,"$2,950,535,944",Vin-Diesel
3,Top 100 Stars in Leading Roles at the Internat...,8,"$5,087,263,843",Vin-Diesel
4,Top Live Action Stars at the International Box...,46,"$4,528,983,642",Vin-Diesel

In [132]:
'''output to csv file'''
actordata.to_csv('actordata.csv',index=False)